.aboutbackground
{
background-image:url('../../../images/about.jpg');
background-position:center;
background-repeat:no-repeat;
background-size:cover;
/* height:700px; */
}
.heading h1
{
    color: #f9f9f9;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 0.05em;
}
.heading
{
	text-align:center;
	padding: 120px 0; 
}