.parallax_text
{
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: #fff;
}
.parallax_main
{

    display: table;
    height: 200px;
     width: 100%;
    position: absolute;
    text-align: center;
   
}