.Photo_border_right
{
    border-right: 1px solid #80808069;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: #f3f3f3;
    border-bottom: 1px solid #80808069;

}
.Photo_border_right_no
{
    
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: #f3f3f3;
    border-bottom: 1px solid #80808069;

}
.photo_img_res
{
width: 50%;
}
.photo_main_section
{
    background-color: #f3f3f3;
    border-bottom: 1px solid #80808069;
}
.photo_padding_text
{
    
    line-height: 1.5rem;
padding-left: 10%;
padding-right: 10%;
}


@media only screen and (min-width:0px)and(max-width:767.9px)
{
    .Photo_border_right
{
    border-right: none;

}
}